.contactBanner {
  background-image: url("../../../assets/img/ContactPageBanner.jpg");
  height: 800px;
  background-position: center;
  font-family: royalGate sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: grayscale(0.1);
  h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    animation: fadeIn 3s ease-in-out;
  }

  a {
    border: 2px solid white;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    margin-top: 30px;
    font-size: 15px;
    transition: 1s all;
    animation: fadeIn 2s ease-in-out;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

/* Responsive for contact page banner */

@media only screen and (max-width: 860px) {
  .contactBanner {
    span {
      font-size: 40px;
    }
    a {
      padding: 15px 25px;
    }
  }
}

@media only screen and (max-width: 670px) {
  .contactBanner {
    span {
      font-size: 30px;
    }
    a {
      padding: 12px 22px;
    }
  }
}

@media only screen and (max-width: 510px) {
  .contactBanner {
    height: 600px;
    span {
      font-size: 25px;
    }
    a {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .contactBanner {
    height: 600px;
    span {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 340px) {
    .contactBanner {
      height: 550px;
      span {
        font-size: 18px;
      }
    }
  }
}

/*Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
