.restaurantBanner {
  height: 800px;
  img {
    width: 100%;
    height: 800px;
    filter: grayscale(40%);
  }
}

@media only screen and (max-width: 800px) {
  .restaurantBanner {
    height: 600px;
    img {
      height: 600px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .restaurantBanner {
    height: 400px;
    img {
      height: 400px;
    }
  }
}
