.aboutBanner {
  background-image: url("../../../assets/img/homePageBanner3.jpg");
  height: 800px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif royalGate;
  h1 {
    color: var(--orange-color);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 0px;
    text-align: center;
    animation: fadeIn 3s ease-in-out;
  }
  a {
    animation: fadeIn 2s ease-in-out;
    margin-top: 25px;
    padding: 15px 25px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 900;
    border: 2px solid var(--orange-color);
    color: white;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      background-color: white;
      color: var(--orange-color);
    }
  }
}

/*Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
